<div class="col-md-6 col-md-offset-3">
  
  <div class="edit-user-form">

    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <div class="form-inputs">
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }, class: "form-control" %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }, class: "form-control" %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" }, class: "form-control" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" }, class: "form-control" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn-custom2" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div> <!-- edit-user-form -->

</div> <!-- "col-md-6 col-md-offset-3" -->